@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <div class="row">
        <div class="input-field col s12 m6 l4 offset-m3 offset-l4">
            @Html.TextBox("name", null, new { id = "name" })
            <label for="name">Name</label>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l4 offset-m3 offset-l4">
            <button type="submit" class="btn amber accent-4 waves-effect waves-light" style="width:100%">Start Game</button>
        </div>
    </div>
}